a:link {
    color: rgb(0, 18, 78);
    text-decoration: none;
    }
    
    a:visited {
    color: rgb(145, 79, 3);
    text-decoration: none;
    }
    
    a:hover {
    color: rgb(25, 80, 231);
    text-decoration: none;
    }
    
    a:active {
    color: blue;
    text-decoration: none;
    }
    .nav-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav{
        margin: 3%;
        border: 1px solid rgb(161, 161, 161);
        border-radius: 10px;
        background-color: #ece8e5;
        max-width: 90%;
        flex: 90%;
        min-height: 10%;
        text-align-last: center;
        display: inline-block;
    
    }
    
    .thumbnail{
        width: 99%;
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
    
    .thumbnail:hover{
        width: 99%;
        margin: 0.3% 0.3% 0.3% 0.3%;
    }
    
    .thumbnail-div{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.5%;
        max-width: 23%;
        -ms-flex: 23%;
        flex: 23%;
        display: inline-block;
        margin: 0.2% 0.2% 0.2% 0.2%;
    }
    .thumbnail-div:hover{
        border: 1px solid rgb(151, 151, 151);
        background-color: rgb(223, 223, 223);
    }
    
    
    .thumbnail-container{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
        justify-content: center;
    }
    
    .duration{
        float: right;
        font-size: 60%; 
        text-decoration: none;
    }
    .tags{
        font-size: 60%; 
        text-decoration: none;
    }
    
    @media screen and (max-width: 800px) {
        .thumbnail-div {
          -ms-flex: 46%;
          flex: 46%;
          max-width: 46%;
        }
      }
    @media screen and (max-width: 600px) {
        .thumbnail-div {
            -ms-flex: 92%;
            flex: 92%;
            max-width: 92%;
    }
    }
    